$primary: #F63B3B;
$white: #fff;
$black: #000;
$light: #5a5a5a;
$mainFont: "Blair ITC", sans-serif;
$secfont: "MercuryDisplay";
$head: 45px;
$sub: 23px;
$para: 17px;

@font-face {
  font-family: "Blair ITC", sans-serif;
  src: url("../fonts/BlairITC-Medium.woff2") format("woff2"),
    url("../fonts/BlairITC-Medium.woff") format("woff"),
    url("../fonts/BlairITC-Medium.ttf") format("truetype"),
    url("../fonts/BlairITC-Medium.eot") format("embedded-opentype"),
    url("../fonts/BlairITC-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MercuryDisplay";
  src: url("../fonts/MercuryDisplay-Roman.woff2") format("woff2"),
    url("../fonts/MercuryDisplay-Roman.woff") format("woff"),
    url("../fonts/MercuryDisplay-Roman.ttf") format("truetype"),
    url("../fonts/MercuryDisplay-Roman.eot") format("embedded-opentype"),
    url("../fonts/MercuryDisplay-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin xl {
  @media only screen and (max-width: 1399.98px) {
    @content;
  }
}
@mixin lg {
  @media only screen and (max-width: 1199.98px) {
    @content;
  }
}
@mixin md {
  @media only screen and (max-width: 991.98px) {
    @content;
  }
}
@mixin sm {
  @media only screen and (max-width: 767.98px) {
    @content;
  }
}
@mixin xs {
  @media only screen and (max-width: 575.98px) {
    @content;
  }
}
@mixin cw($value) {
  @media only screen and (max-width: $value) {
    @content;
  }
}
